---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { slug } = post;
const { post_image, tags, title, date } = post.data;
---

<article class="latestPost__article">
  <a href={`/post/${slug}`}>
    <img src={post_image} alt="post image" class="latestPost__image" />
    <section class="latestPost__section">
      <TagList tags={tags} latest={true} />
      <h1 class="latestPost__heading">{title}</h1>
      <p class="latestPost__date">{date.toDateString()}</p>
    </section>
  </a>
</article>

<style>
  .latestPost__article {
    @apply flex flex-col justify-center relative lg:mb-36 mb-8;
  }

  .latestPost__image {
    @apply rounded-xl w-full max-h-[600px];
  }

  .latestPost__section {
    @apply lg:rounded-xl lg:bg-white lg:dark:bg-dark lg:shadow-md lg:dark:drop-shadow-[0px_12px_24px_-6px_rgba(254,254,255,0.604)] lg:p-10 lg:max-w-[600px] absolute lg:-bottom-14 lg:left-16 bottom-10 left-10;
    /* @apply rounded-xl bg-white dark:bg-dark shadow-md dark:drop-shadow-[0px_12px_24px_-6px_rgba(254,254,255,0.604)] p-10 max-w-[600px] absolute -bottom-14 left-16; */
  }

  .latestPost__heading {
    @apply lg:text-secondary/800 lg:dark:text-white font-semibold text-4xl lg:pb-6 text-white;
  }

  .latestPost__date {
    @apply lg:text-secondary/400 text-white text-base;
  }
</style>
