---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { slug } = post;
const { post_image, tags, title, date } = post.data;
---

<article
  class="flex flex-col h-full p-4 bg-white dark:bg-secondary/800 rounded-xl border-[1px] border-secondary/100 dark:border-semidark"
>
  <a href={`/post/${slug}`} class="flex flex-col h-full">
    <img src={post_image} alt="post image" class="rounded-md mb-4" />

    <div class="flex flex-col justify-between gap-5 h-full">
      <div>
        <TagList tags={tags} latest={false} />
        <h2
          class="font-semibold text-xl h-fit text-secondary/800 dark:text-white"
        >
          {title}
        </h2>
      </div>

      <p class="text-secondary/400 text-base">
        {date.toDateString()}
      </p>
    </div>
  </a>
</article>
